* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.menu {
    background: rgb(199, 255, 249);
    display: flex;
    border-bottom: 3px solid rgb(0, 201, 177);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 10;
    padding: 3px;
}

.menu ul {
    display: flex;
}

.menu img {
    width: auto;
    height: 50px;
    padding: 0px 30px 0px 5px;
    transition: .2s cubic-bezier(0.39, 0.58, 0.22, 1.05) 0s;
}

.menu ul li {
    list-style: none;
    height: 50px;
    line-height: 65px;
}

.menu ul li .in-menu {
    position: absolute;
    cursor: pointer;
    transition: .15s;
    padding: 0px 5px;
    border-radius: 15px;
    color: black;
}

.menu ul li #member-menu {
    margin-left: 0px;
    text-decoration: none;
}

.menu ul li #discord-menu {
    margin-left: 90px;
    text-decoration: none;
}

.menu ul li #wactorweb-menu {
    margin-left: 165px;
    text-decoration: none;
}

.menu ul li .in-menu:hover {
    background: #fff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    color: rgb(0, 201, 177);
    animation-name: menuanimation;
    animation-duration: .1s;
    animation-iteration-count: 2;
}

@keyframes menuanimation {
    0% {transform: rotate(5deg);}
    25% {transform: rotate(0deg);}
    50% {transform: rotate(-5deg);}
    75% {transform: rotate(0deg);}
    100% {transform: rotate(5deg);}
}

.menu .member-box {
    position: fixed;
    top: -100em;
    margin: auto;
    width: 80%;
    background: rgba(221, 255, 253, 0.8);
    box-shadow: rgba(14, 30, 37, 0.5) 0px 2px 4px 0px, rgba(14, 30, 37, 0.5) 0px 2px 16px 0px;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 25px;
    left: 50%;
    transform: translateX(-50%);
    transition: .4s ease;
    z-index: 0;
}

/*Member Box Active*/
.menu .member-box-active {
    position: fixed;
    top: 90px;
    margin: auto;
    width: 80%;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: rgba(14, 30, 37, 0.5) 0px 2px 4px 0px, rgba(14, 30, 37, 0.5) 0px 2px 16px 0px;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.menu .member-box-active .row .col h5 {
    margin: 15px 50px;
    color:rgb(0, 201, 177);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 5px;
}

.menu .member-box-active .row .col a {
    color: black;
    font-weight: bold;
    padding-right: 25%;
    text-decoration: none;
    transition: 0.2s;
}

.menu .member-box-active .row .col a:hover {
    border-left: 3px solid rgb(0, 201, 177);
    padding-left: 5px;
}

/*Remove scrollbar*/
::-webkit-scrollbar {
    display: none;
}

/*Intro*/
.intro {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9000;/*LMAO*/
    background-color: #fff;
    width: 100%;
    height: 100vh;
    transition: 1s ease;
}

.intro .img-intro {
    transition: .2s;
}

.logo-header {
    position: relative;
    font-weight: bolder;
    color: rgb(0, 201, 177);
    text-shadow: 2px 2px rgba(0, 201, 177, 0.5);
    z-index: 9000;
}

.logo-button {
    position: relative;
    z-index: 9000;
}

.intro-content {
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate( -50%, -50%)
}

.intro-logo {
    height: 130px;
    width: auto;
}

.intro-content, .logo-header, .logo-button {
    margin:0 0 40px 0;
}

/*Intro Button*/
.intro-button {
    border: none;
    padding: 10px 35px;
    border-radius: 5px;
}

.intro-button:focus {
    outline: none;
}

/*intro active*/
.intro.out {
    transition: 1s;
    background: rgb(0, 201, 177);
}

.intro.out .intro-button {
    transition: .5s;
    background: rgb(0, 201, 177);
    color: rgb(0, 201, 177);
}

.intro.out .intro-logo {
    animation-name: intro-logo;
    animation-duration: .07s;
    animation-iteration-count: 1000;
}
    
@keyframes intro-logo {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

#mainwactor {
    margin-top: 75px;
}

#mainwactor h1 {
    text-align: center;
    font-weight: bolder;
    margin-top: 5px;
    font-size: 52px;
}

#mainwactor p{
    text-align: center;
    position: relative;
    bottom: 15px;
}

.mainwactor-img {
    margin-top: 15px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: auto;
}

.background,.A2021,.A2020,.A2019 {
    margin: 25px 10px;
    background: rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
}

/*Responsive web*/
@media screen and (max-width: 800px) {
    #logo {
        content: url(http://127.0.0.1:5500/picture/Wactor_Logo_NOBG.png);
    }

    .menu ul li .in-menu:hover {
        background: none;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.0) 0px 4px 12px;
        color: black;
    }
    
    @keyframes menuanimation {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(0deg);}
    }

    .menu ul li #wactorweb-menu {
        opacity: 0;
    }
}